.outer{
	width: 60%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: double;
	padding: 20px;
}
#header-top-left{
	float: left;
	width: 70%;
}
#header-top-left ul{
	padding: 5px;
	margin: 5px;
}
#header-top-left li{
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 5px;
	padding: 2px;
	font-size: 20px;
}
#header-top-right{
	float: right;
	width: 22%;
	padding-top:10px; 
	margin-top: 5px;
}
#header{
	height: 230px;
}
.heading{
	background-color: #bcced2;
	border-color: lightskyblue;
	border-style: groove;
	padding-bottom: 6px;
	margin: 10px 10px 0px 10px;
}
.heading p{
	padding-left: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: bold;
}
.text{
	border-color: lightblue;
	border-style: groove; 
	margin: 0px 10px 30px 10px;	
}
.text p, li, pre{
	padding-left: 5px;
	font-family: "Gill Sans", sans-serif;
	font-size: 18px;
	line-height: 25px;
}
table, th, td {
  border: 1px solid black;
  margin: 5px;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
}
#fa{
	margin: 0px 0px 30px 5px;
	padding: 0px;
}
#fa li{
	display: inline;
	list-style: none;
	text-decoration: none;
	padding-left: 0px;	
}
#fa a{
	text-decoration: none;
	color: blue;
}
#fa a:hover{
	text-decoration: underline;
	color: darkviolet;
}
#header-top-left a{
	text-decoration: none;
	color: blue;
}
#header-top-left a:hover{
	text-decoration: underline;
	color: darkviolet;
}
.footer{
	margin: 5px;
	padding: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
}
.footer1{
	margin: 5px;
	padding: 5px;
	font-family: "Gill Sans", sans-serif;
	font-size: 18px;
	line-height: 25px;
}
#sign{
	margin: 5px;
	padding: 5px;
}
img{
	border-radius: 20px;
}
img:hover{
	transform: scale(1.2,1.2);
}